body {
  font-family: 'Roboto', sans-serif;
  background-color: #FF5C5C;
}

.header {
  margin: 5% 20%;
  text-align: center;
  color: white;
}

#temp {
  cursor: pointer;
  margin: auto;
  width: 6rem;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

#temp:hover {
  color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.icon {
  width: 20%;
  margin: 0px;
  padding: 0px;
  filter: invert(100%);
  -webkit-filter: brightness(0) invert(1);
}