<footer>

  <div class="footer-wrap">

    <div class="footer-tagline">
      <p>Follow me below</p>
    </div>

    <div class="social-media">
      <nav>
        <a href=""><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
        <a href=""><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
        <a href=""><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
        <a href=""><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
      </nav>
    </div>

  </div>

</footer>
