<section>
  {% for project in site.data.settings.projects %}
    <div class="card-body mx-5 mb-5 project-container">
      <a href="{{ site.github.url }}/projects/{{ project.url }}">
      <img src="{{ site.github.url }}/assets/img/projects/{{ project.url }}/thumbnail.jpg" class="card-img-top image" alt="...">
      <div class="overlay">
        <div class="text">{{ project.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      </div>
      </a>
    </div>
  {% endfor %}
</section>
