header
  height: 90px
  .logo
    float: left
    margin: 30px
    font:
      size: 24px
      weight: 700
    a
      display: inline-block
      color: rgba(0,0,0,1)
      &:hover
        color: $accent-color
  nav
    float: right
    margin: 30px 30px 0 0
    a
      display: inline-block
      margin-left: 20px
      color: rgba(0,0,0,1)
      font:
        size: 24px
        weight: 700
      &:hover
        color: $accent-color
